<h4>La réservation du chat a bien été effectuée  </h4>

<p>Vous avez réservé</p>

 <% current_user.bookings.each do |booking| %>
  <p> <%= booking.cat_id %> </p>
  <p> <%= booking.user_id %> </p>
  <p> <%= booking.renting_price %> </p>

  <% end %>
