<h3>My Dashboard</h3>

Welcome to you dashboard <%= current_user %>
<h4>List of my cats</h4>

<div class="container">
    <div class="row">
      <% @cats.each do |cat| %>
      <div class="col-xs-12 col-sm-3">
          <div class="thumbnail">
            <p> <%= cat.name %> </p>
            <%= image_tag cat.picture.url(:medium) %>

         </div>
      </div>
      <% end %>
    </div>
 </div>

<div class="thumbail">
<h4>My bookings</h4>
</div>


