<div class="container text-center">
<div class="row">
<div class="col-md-6">
  <%= link_to "Louer un chat", cats_path, class: "btn btn-primary btn-lg active" %>
</div>
<div class="col-md-6">
  <%= link_to "Mettre son chat en location", new_cat_path, class: "btn btn-primary btn-lg active" %>
</div>

</div>

</div>
