.card {
  position: relative;
  height: 250px;
  width: 250px;
  text-shadow: 0 2px 3px rgba(0,0,0.1,0.2);
  color: white;
  margin: 3px;
  background-size: cover;
  z-index: 0;
  &:hover {
    font-size: 140%;
    }
  &:gradient {
    background: linear-gradient(to right, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.05) 80%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    }
}



// .position {
//   position: absolute;
//   bottom: 50px;
//   left: 15px;
//   font-size: 15px;
// }

