@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

//@import "awesome_navbar";
@import "navbar_wagon";
@import "footer_layout";
@import "home";
@import "map";

@import "index";


@import "showcat";
@import "commons";


@import "bookings";


* {
  box-sizing: border-box;
  }


.fa-paw {
  color: #D2527F;

}


.card-index {
  height: 400px;
}

