@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

//@import "awesome_navbar";
@import "navbar_wagon";
@import "footer_layout";
@import "home";
@import "map";


.fa-paw {
  color: #D2527F;

}

.fa-paw:hover {
  text-decoration: none;
}

.card-index {
  height: 400px;
}

