#banner-image {

background-image: asset-url('catforbanner.jpg');
background-size: cover;
height: 550px;
}


.home-container {

  padding-top: 8px;
}

#banner-title {

  color: #FFFFFF;

  padding-top: 20px;
  padding-left: 30px;

  .btn-success {

 font-size: 10px;
 padding: 10px;


}
}

#last-cats-added-container {

 background-color: #EDEFED;
 padding: 10px;

  h2 {
  padding: 20px;
  margin-top: 0px;
    }
}

.city {
  position: relative;
  color: black;
}

.card-home {
  opacity: 0.7;
  border: 5px solid white;
  text-shadow: 1px 2px 3px(0,0,0,0,2);
  height: 300px;
  color: lightgrey;
}


.link-name {
  color: white;
  text-shadow: 2px 2px #D2527F;
  &:hover {
    text-decoration: none;
    color: white;
  }
}


