#banner-image {

background-image: asset-url('catforbanner.jpg');
background-size: cover;
height: 550px;
}


.home-container {

  padding-top: 8px;
}

#banner-title {

  color: #FFFFFF;

  padding-top: 20px;
  padding-left: 30px;

  .btn-success {

 font-size: 25px;
 padding: 25px;
 margin-top: 60px;

}
}

#last-cats-added-container {

 background-color: #EDEFED;
 padding: 10px;

  h2 {
  padding: 20px;
  margin-top: 0px;
}



}


